#flex {
  display: flex;
  flex-direction: row;
}

#Page {
  width: 50%;
  background-color: #1a2930;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  order: 2;
  margin-bottom: 0px;
}

#logo {
  margin-top: 20%;
  width: 75%;
  height: 50%;
}

#flexBackground {
  background-image: url("https://c.stocksy.com/a/Cya100/z9/380444.jpg?1575013104");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  order: 1;
}
