.compose {
    position: relative;
    top: 20px;
    left: 30px;
    padding: 10px 0 0 0;
    /* align-items: center; */
    /* background: white; */
    /* border-top: 1px solid black; */
    /* width: 500px; */
  }
  
  @supports (backdrop-filter: blur(20px)) {
    .compose {
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(20px);
      width: 90%;
    }
  }
  
  .compose-input {
    width: 100%;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    height: 100px;
    background: whitesmoke;
    margin: 0px;
  }
  
  .compose-input::placeholder {
    opacity: 0.3;
    color: black;
    position: relative;
    top: -35px;
    left: 5px;
  }

  .compose-input:focus::placeholder {
    text-align: left;
  }
  