#background {
  background-color: black;
}

#hexa {
  float: left;
  border-right: 30px solid #6c6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;

  float: left;
  width: 60px;
  height: 104px;
  background-color: #6c6;

  float: left;
  border-left: 30px solid #6c6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
