.conversation-list-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
    background: #c5c1c0;
    border-bottom: solid 1.3px #1a2930;
  }
  
  .conversation-list-item:hover {
    background: #eeeef1;
    cursor: pointer;
  }
  
  .conversation-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .conversation-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
  }
  
  .conversation-snippet {
    font-size: 16px;
    color: grey;
    margin: 0;
  }