/* #menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
} */
#menu {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: "21%";
  position: -webkit-sticky; /* for safari users*/
  position: sticky;
  top: 0;
  padding-right: 0px;
  margin-top: 10px;
}

#nav_segment {
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
}
